.container {
    margin: auto;
    width: auto;
    padding: 10px;
}

.table {
    align-content: center;
    display: grid;
}

.cell {
    border: 1px solid black;
    height: 120px;
    width: 120px;
    font-size: 90px;
    vertical-align: middle;
    text-align: center;
    user-select: none;
}

.cell:hover {
    background-color: lightblue;
    cursor: pointer;
}

.red {
    background-color: lightcoral;
}

.green {
    background-color: lightgreen;
}
